In [34]:
from nebula.data.nvbench.build_vocab import read_data
from nebula import root
import os.path as osp

In [35]:
data_dir=osp.join(root(), "data", "nvbench", "dataset", "dataset_final")
db_info=osp.join(root(), "data", "nvbench", "dataset", "database_information.csv")

In [36]:
test_df, validation_df, train_df, info_df = read_data(data_dir, db_info)

In [37]:
train_df[train_df.source.str.contains("cars_data")]

,source,labels,token_types
508,<N> Scatter plot to show max(accelerate) on x ...,mark point data cars_data encoding x max(accel...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
509,<N> Scatter plot to show max(accelerate) on x ...,mark point data cars_data encoding x max(accel...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
802,<N> Create a bar chart showing the number of y...,mark bar data cars_data encoding x year y aggr...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
803,<N> Create a bar chart showing the number of y...,mark bar data cars_data encoding x year y aggr...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
1676,<N> Show me a line chart for what is the avera...,mark line data cars_data encoding x year y agg...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
...,...,...,...
22391,<N> Draw a scatter chart for what is the maxim...,mark point data cars_data encoding x max(accel...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
23666,<N> How many cars each weekday (by bin the yea...,mark bar data cars_data encoding x year y aggr...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
23667,<N> How many cars each weekday (by bin the yea...,mark bar data cars_data encoding x year y aggr...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
24090,<N> A bar chart for what are the number of the...,mark bar data cars_data encoding x year y aggr...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...
24091,<N> A bar chart for what are the number of the...,mark bar data cars_data encoding x year y aggr...,nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl n...

In [39]:
print(test_df.loc[0].source)
print(test_df.loc[0].labels)
print(test_df.loc[0].token_types)

<N> Plot how many booking start date by grouped by booking start date as a bar graph , order Y in ascending order . </N> <C> mark [T] data apartment_bookings encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> apartment_bookings <COL> booking_start_date </COL> <VAL> </VAL> </D>
mark bar data apartment_bookings encoding x booking_start_date y aggregate count booking_start_date transform sort y asc bin x by weekday
nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl template template template template template template template template template template template template template template template template template template template template template template template template template template table table col col col value value table

In [40]:
print(test_df.loc[1].source)
print(test_df.loc[1].labels)
print(test_df.loc[1].token_types)

<N> Plot how many booking start date by grouped by booking start date as a bar graph , order Y in ascending order . </N> <C> mark bar data apartment_bookings encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] asc topk [K] </C> <D> apartment_bookings <COL> booking_start_date </COL> <VAL> </VAL> </D>
mark bar data apartment_bookings encoding x booking_start_date y aggregate count booking_start_date transform sort y asc bin x by weekday
nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl nl template template template template template template template template template template template template template template template template template template template template template template template template template template template table table col col col value value table

In [20]:
print(train_df.loc[0].source)
print(train_df.loc[0].labels)

<N> Bar chart x axis product name y axis how many product name , rank by the Y-axis in desc . </N> <C> mark [T] data products encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> products <COL> product_name </COL> <VAL> Sony </VAL> </D>
mark bar data products encoding x product_name y aggregate count product_name transform group x sort y desc

In [21]:
print(train_df.loc[1].source)
print(train_df.loc[1].labels)

<N> Bar chart x axis product name y axis how many product name , rank by the Y-axis in desc . </N> <C> mark bar data products encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> products <COL> product_name </COL> <VAL> Sony </VAL> </D>
mark bar data products encoding x product_name y aggregate count product_name transform group x sort y desc

In [22]:
print(train_df.loc[2].source)
print(train_df.loc[2].labels)

<N> how old is the youngest person for each job ? , and could you order x-axis from low to high order ? </N> <C> mark [T] data person encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> person <COL> job age name </COL> <VAL> Zach Bob Dan </VAL> </D>
mark bar data person encoding x job y aggregate min age transform group x sort x asc

In [23]:
print(train_df.loc[3].source)
print(train_df.loc[3].labels)

<N> how old is the youngest person for each job ? , and could you order x-axis from low to high order ? </N> <C> mark bar data person encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> person <COL> job age name </COL> <VAL> Zach Bob Dan </VAL> </D>
mark bar data person encoding x job y aggregate min age transform group x sort x asc

In [24]:
print(train_df.loc[400].source)
print(train_df.loc[400].labels)

<N> Give me a bar chart about the average of number_of_platforms in different locations , and rank X from low to high order . </N> <C> mark [T] data station encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> station <COL> number_of_platforms location name </COL> <VAL> </VAL> </D>
mark bar data station encoding x location y aggregate mean number_of_platforms transform group x sort x asc

In [41]:
import json
f = open('C:/Users/aphri/Documents/t0002/pycharm/data/nvBench-main/NVBench.json')
data = json.load(f)

In [44]:
len(data.keys())

7247

In [46]:
list(data.keys())[:10]

['3', '4', '5', '6', '7', '8', '9', '11', '12', '14']

In [47]:
data['3']

{'vis_query': {'vis_part': 'Visualize SCATTER',
  'data_part': {'sql_part': 'SELECT FacID , count(*) FROM Faculty AS T1 JOIN Student AS T2 ON T1.FacID = T2.advisor GROUP BY T1.FacID',
   'binning': ''},
  'VQL': 'Visualize SCATTER SELECT FacID , count(*) FROM Faculty AS T1 JOIN Student AS T2 ON T1.FacID = T2.advisor GROUP BY T1.FacID'},
 'chart': 'Scatter',
 'hardness': 'Medium',
 'db_id': 'activity_1',
 'vis_obj': {'chart': 'scatter',
  'x_name': 'FacID',
  'y_name': 'count(*)',
  'x_data': [[1121,
    1148,
    2192,
    2311,
    5718,
    7134,
    7271,
    7712,
    7723,
    7792,
    8423,
    8721,
    8722,
    8723,
    8741,
    8772,
    8918,
    9172]],
  'y_data': [[3, 3, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1]],
  'classify': [],
  'describe': ''},
 'nl_queries': ['Show the faculty id of each faculty member, along with the number of students he or she advises in a scatter chart',
  'Show the faculty id of each faculty member, along with the number of students he or she advises. Show scatter chart.',
  'Show me a scatter chart for what are the faculty id and the number of students each faculty has?',
  'Scatter chart. what are the faculty id and the number of students each faculty has?',
  'What are the faculty id and the number of students each faculty has. ']}

In [50]:
len(data['4']["nl_queries"])

6

In [51]:
total  = 0

for k, v in data.items():
    total += len(v["nl_queries"])

In [52]:
total

25762

In [ ]:
# cnx = sqlite3.connect(db_url)
# df = pd.read_sql_query("SELECT * FROM " + table_name, cnx)

In [53]:
25762 / 7247

3.5548502828756727

In [117]:
train_df[train_df["source"].str.contains("those employees whose salary is in the range of 8000 and 12000 and commission is not null")]["source"].iloc[0]

'<N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , draw a line chart about the change of department_id over hire_date , display by the X from low to high . </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> hire_date salary department_id last_name first_name </COL> <VAL> Bull Lex Seo Bell Chen Lee Gee Banda King Baer Fay </VAL> </D>'

In [112]:
train_df[train_df["source"].str.contains("those employees whose salary is in the range of 8000 and 12000 and commission is not null")].groupby("labels").count()

                                                    source  token_types
labels
mark bar data employees encoding x hire_date y ...      10           10
mark bar data employees encoding x hire_date y ...      10           10
mark bar data employees encoding x hire_date y ...      10           10
mark bar data employees encoding x hire_date y ...      10           10
mark bar data employees encoding x hire_date y ...      10           10
...                                                    ...          ...
mark point data employees encoding x employee_i...      10           10
mark point data employees encoding x employee_i...      10           10
mark point data employees encoding x manager_id...      10           10
mark point data employees encoding x salary y a...      10           10
mark point data employees encoding x salary y a...      10           10

[96 rows x 2 columns]

In [109]:
train_df[train_df["source"].str.contains("those employees whose salary is in the range of 8000 and 12000 and commission is not null")]["source"].iloc[0]

'<N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , draw a line chart about the change of department_id over hire_date , display by the X from low to high . </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> hire_date salary department_id last_name first_name </COL> <VAL> Bull Lex Seo Bell Chen Lee Gee Banda King Baer Fay </VAL> </D>'

In [63]:
train_df["source"][0]

'<N> Bar chart x axis product name y axis how many product name , rank by the Y-axis in desc . </N> <C> mark [T] data products encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> products <COL> product_name </COL> <VAL> Sony </VAL> </D>'

In [73]:
r1 = train_df.groupby("labels").count()

In [75]:
len(r1)

2988

In [76]:
r2 = test_df.groupby("labels").count()

In [77]:
len(r2)

625

In [78]:
r3 = validation_df.groupby("labels").count()

In [79]:
len(r3)

186

In [80]:
2988+186+625

3799

In [98]:
train_df.groupby("labels").count().to_clipboard()

In [118]:
len(train_df)

25238

In [119]:
len(validation_df)

1430

In [121]:
len(test_df)

4920