In [1]:
import pandas as pd

In [2]:
res = pd.read_csv("C:/Users/aphri/Documents/t0002/pycharm/data/ncnet/nv_bert_eval_res_df2.csv")

In [5]:
res.head()

,Unnamed: 0,source,target,predicted,incorrect target,incorrect prediction,correct target,correct prediction,correct count,total count
0,0,('<N> Plot how many booking start date by grou...,mark bar data apartment_bookings encoding x bo...,mark bar data employees encoding x booking_end...,apartment_bookings booking_start_date booking_...,employees booking_end_date booking_end_date bi...,mark bar data encoding x y aggregate count tra...,mark bar data encoding x y aggregate count tra...,15,20
1,1,('<N> Plot how many booking start date by grou...,mark bar data apartment_bookings encoding x bo...,mark bar data employees encoding x booking_end...,apartment_bookings booking_start_date booking_...,employees booking_end_date booking_end_date bi...,mark bar data encoding x y aggregate count tra...,mark bar data encoding x y aggregate count tra...,15,20
2,2,('<N> When do all the researcher role staff st...,mark line data project_staff encoding x date_f...,mark bar data employees encoding x date_to y a...,line project_staff date_from date_from sort asc,bar employees date_to date_to bin desc,mark data encoding x y aggregate count transfo...,mark data encoding x y aggregate count transfo...,14,20
3,3,('<N> When do all the researcher role staff st...,mark line data project_staff encoding x date_f...,mark bar data employees encoding x date_to y a...,line project_staff date_from date_from sort asc,bar employees date_to date_to bin desc,mark data encoding x y aggregate count transfo...,mark data encoding x y aggregate count transfo...,14,20
4,4,('<N> Return a bar chart about the distributio...,mark bar data hiring encoding x start_from y a...,mark bar data employees encoding x start_from ...,hiring count sort asc,employees mean bin desc,mark bar data encoding x start_from y aggregat...,mark bar data encoding x start_from y aggregat...,16,20

In [4]:
len(res)

4920

In [18]:
res[res["correct count"] == 17].iloc[0]["correct target"]

'mark bar data encoding x date_account_opened y aggregate count date_account_opened other_account_details transform y bin x by <eos>'

In [19]:
res[res["correct count"] == 17].iloc[0]["incorrect target"]

'accounts color sort asc weekday'

In [20]:
res[res["correct count"] == 17].iloc[0]["incorrect prediction"]

'employees transform bin desc year'

In [21]:
res[res["correct count"] == 17].iloc[0]["source"]

"('<N> How many accounts are opened in each day ? Bin the account open day by weekday and group by other account details in a stacked bar chart , and rank by the y axis in ascending . </N> <C> mark [T] data accounts encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> other_account_details </COL> <VAL> </VAL> </D>',)"

In [77]:
template_words_easy = set([
    "mark", "data", "encoding", "aggregate", "transform",
]) 

template_words_hard = set([
     "x", "y", "color", "filter",
    "group", "bin", "sort", "topk", "none"
])

In [156]:
def check_template_incorrect(incorrect_trg, template_words=template_words):
    trg_list = incorrect_trg.split(" ")
    
    easy = []
    hard = []
    for w in trg_list:
        if w in template_words_easy:
            easy.append(w)
        if w in template_words_hard:
            hard.append(w)
    
    return easy, hard

def count_template(trg, template_words=template_words):
    trg_list = trg.split(" ")
    
    count = 0
    count_easy = 0
    count_hard = 0
    for w in trg_list:
        if w in template_words_easy:
            count_easy += 1  
        elif w in template_words_hard:
            count_hard += 1
            
    count = count_easy + count_hard

    return count, count_easy, count_hard

In [157]:
def update_res(res):
    
    easy_list = []
    hard_list = []
    count_list = []
    count_easy_list = []
    count_hard_list = []
    for idx, row in res.iterrows():
        easy, hard = check_template_incorrect(row["incorrect target"])
        count, count_easy, count_hard = count_template(row["target"])
        easy_list.append(easy)
        hard_list.append(hard)
        count_list.append(count)
        count_easy_list.append(count_easy)
        count_hard_list.append(count_hard)
        
    res["incorrect easy"] = easy_list
    res["incorrect easy count"] = [len(i) for i in easy_list]
    res["incorrect hard"] = hard_list
    res["incorrect hard count"] = [len(i) for i in hard_list]
    res["template count"] = count_list
    res["template easy count"] = count_easy_list
    res["template hard count"] = count_hard_list

In [158]:
update_res(res)

In [159]:
res.head()

,Unnamed: 0,source,target,predicted,incorrect target,incorrect prediction,correct target,correct prediction,correct count,total count,...,incorrect easy,incorrect easy count,incorrect hard,incorrect hard count,template count,correct template count,incorrect non-template count,non-template count,template easy count,template hard count
0,0,('<N> Plot how many booking start date by grou...,mark bar data apartment_bookings encoding x bo...,mark bar data employees encoding x booking_end...,apartment_bookings booking_start_date booking_...,employees booking_end_date booking_end_date bi...,mark bar data encoding x y aggregate count tra...,mark bar data encoding x y aggregate count tra...,15,20,...,[],0,[sort],1,11,10,4,9,5,6
1,1,('<N> Plot how many booking start date by grou...,mark bar data apartment_bookings encoding x bo...,mark bar data employees encoding x booking_end...,apartment_bookings booking_start_date booking_...,employees booking_end_date booking_end_date bi...,mark bar data encoding x y aggregate count tra...,mark bar data encoding x y aggregate count tra...,15,20,...,[],0,[sort],1,11,10,4,9,5,6
2,2,('<N> When do all the researcher role staff st...,mark line data project_staff encoding x date_f...,mark bar data employees encoding x date_to y a...,line project_staff date_from date_from sort asc,bar employees date_to date_to bin desc,mark data encoding x y aggregate count transfo...,mark data encoding x y aggregate count transfo...,14,20,...,[],0,[sort],1,11,10,5,9,5,6
3,3,('<N> When do all the researcher role staff st...,mark line data project_staff encoding x date_f...,mark bar data employees encoding x date_to y a...,line project_staff date_from date_from sort asc,bar employees date_to date_to bin desc,mark data encoding x y aggregate count transfo...,mark data encoding x y aggregate count transfo...,14,20,...,[],0,[sort],1,11,10,5,9,5,6
4,4,('<N> Return a bar chart about the distributio...,mark bar data hiring encoding x start_from y a...,mark bar data employees encoding x start_from ...,hiring count sort asc,employees mean bin desc,mark bar data encoding x start_from y aggregat...,mark bar data encoding x start_from y aggregat...,16,20,...,[],0,[sort],1,11,10,3,9,5,6

In [166]:
res[res["incorrect easy count"] > 0].head()

,Unnamed: 0,source,target,predicted,incorrect target,incorrect prediction,correct target,correct prediction,correct count,total count,...,incorrect easy,incorrect easy count,incorrect hard,incorrect hard count,template count,correct template count,incorrect non-template count,non-template count,template easy count,template hard count
94,94,('<N> Give me the trend about the average of E...,mark line data hiring encoding x start_from y ...,mark bar data employees encoding x start_from ...,line hiring transform sort asc,bar employees color bin desc,mark data encoding x start_from y aggregate me...,mark data encoding x start_from y aggregate me...,15,20,...,[transform],1,[sort],1,11,9,3,9,5,6
95,95,('<N> Give me the trend about the average of E...,mark line data hiring encoding x start_from y ...,mark bar data employees encoding x start_from ...,line hiring transform sort asc,bar employees color bin desc,mark data encoding x start_from y aggregate me...,mark data encoding x start_from y aggregate me...,15,20,...,[transform],1,[sort],1,11,9,3,9,5,6
130,130,('<N> A line chart shows the change of the ave...,mark line data hiring encoding x start_from y ...,mark bar data employees encoding x start_from ...,line hiring transform sort asc,bar employees color bin desc,mark data encoding x start_from y aggregate me...,mark data encoding x start_from y aggregate me...,15,20,...,[transform],1,[sort],1,11,9,3,9,5,6
131,131,('<N> A line chart shows the change of the ave...,mark line data hiring encoding x start_from y ...,mark bar data employees encoding x start_from ...,line hiring transform sort asc,bar employees color bin desc,mark data encoding x start_from y aggregate me...,mark data encoding x start_from y aggregate me...,15,20,...,[transform],1,[sort],1,11,9,3,9,5,6
428,428,('<N> Show me about the change of the average ...,mark line data hiring encoding x start_from y ...,mark bar data employees encoding x start_from ...,line hiring transform sort asc,bar employees color bin desc,mark data encoding x start_from y aggregate me...,mark data encoding x start_from y aggregate me...,15,20,...,[transform],1,[sort],1,11,9,3,9,5,6

In [201]:
res["correct template count"] = res["template count"] - res["incorrect easy count"] - res["incorrect hard count"]
res["incorrect template count"] = res["incorrect easy count"] + res["incorrect hard count"]
res["incorrect non-template count"] = res["total count"] - res["correct count"] - res["incorrect easy count"] - res["incorrect hard count"]
res["non-template count"] = res["total count"] - res["template count"]

chart_set = set()
for trg in res["target"]:
    chart_set.add(trg.split(" ")[1])
    
has_chart = []
for src in res["source"]:
    if "[T]" in src:
        has_chart.append(False)
    else:
        has_chart.append(True)

res["has_chart"] = has_chart

res["chart"] = res["target"].apply(lambda x: x.split(" ")[1])

correct_chart = []
for trg in res["incorrect target"]:
    trg_set = set(trg.split(" "))
    
    if len(chart_set.intersection(trg_set)) > 0:
        correct_chart.append(False)
    else:
        correct_chart.append(True)
        
res["correct_chart"] = correct_chart

In [202]:
res.to_csv("C:/Users/aphri/Documents/t0002/pycharm/data/ncnet/nv_bert_eval_res_df2_updated.csv")

In [216]:
chart_set

{'arc', 'bar', 'line', 'point'}

In [135]:
res[["template count", "non-template count", "total count"]].describe()

       template count  non-template count  total count
count     4920.000000         4920.000000  4920.000000
mean        10.451626            8.526423    18.978049
std          1.311008            3.454892     4.190853
min          6.000000            4.000000    12.000000
25%         10.000000            6.000000    16.000000
50%         11.000000            7.000000    18.000000
75%         11.000000           10.000000    20.000000
max         13.000000           22.000000    34.000000

In [123]:
res[["incorrect easy count", "incorrect hard count", "incorrect template count", "incorrect non-template count"]].describe()

,incorrect easy count,incorrect hard count,incorrect template count,incorrect non-template count
count,4920.000000,4920.000000,4920.000000,4920.000000
mean,0.010976,0.603252,0.614228,3.403252
std,0.104199,0.679253,0.688210,1.482290
min,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,2.000000
50%,0.000000,1.000000,1.000000,3.000000
75%,0.000000,1.000000,1.000000,4.000000
max,1.000000,4.000000,4.000000,12.000000

In [134]:
res.keys()

Index(['Unnamed: 0', 'source', 'target', 'predicted', 'incorrect target',
       'incorrect prediction', 'correct target', 'correct prediction',
       'correct count', 'total count', 'incorrect template',
       'incorrect template count', 'incorrect easy', 'incorrect easy count',
       'incorrect hard', 'incorrect hard count', 'template count',
       'correct template count', 'incorrect non-template count',
       'non-template count'],
      dtype='object')

In [143]:
gold = 'mark bar data tourist_attractions encoding x how_to_get_there y aggregate count how_to_get_there transform group x sort x asc <eos>'

In [147]:
r1 = res[res["target"] == gold].iloc[0]

In [149]:
r1["source"]

"('<N> List all the possible ways to get to attractions , together with the number of attractions accessible by these methods in a bar chart , and sort names in asc order please . </N> <C> mark [T] data tourist_attractions encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> tourist_attractions <COL> name how_to_get_there </COL> <VAL> walk bus </VAL> </D>',)"

In [150]:
r1["target"]

'mark bar data tourist_attractions encoding x how_to_get_there y aggregate count how_to_get_there transform group x sort x asc <eos>'

In [153]:
r1["predicted"]

'mark bar data employees encoding x how_to_get_there y aggregate count how_to_get_there transform group x sort x asc <eos>'

In [164]:
easy_accuracy = (res["template easy count"] - res["incorrect easy count"]).sum() / res["template easy count"].sum()
easy_accuracy

0.9977856146969573

In [165]:
hard_accuracy = (res["template hard count"] - res["incorrect hard count"]).sum() / res["template hard count"].sum()
hard_accuracy

0.8902204468116586

In [167]:
template_accuracy = res["correct template count"].sum() / res["template count"].sum()
template_accuracy

0.9412313795651667

In [170]:
non_template_accuracy = (res["non-template count"] - res["incorrect non-template count"]).sum() / res["non-template count"].sum()
non_template_accuracy

0.6008581644815256

In [172]:
total_accuracy = res["correct count"].sum() / res["total count"].sum()
total_accuracy

0.7883091290750974

In [179]:
chart_set

{'arc', 'bar', 'line', 'point'}

In [188]:
len(res[res["has_chart"]])

2460

In [189]:
len(res[~res["has_chart"]])

2460

In [192]:
res[res["has_chart"]][["incorrect easy count", "incorrect hard count", "incorrect template count", "incorrect non-template count"]].describe()

,incorrect easy count,incorrect hard count,incorrect template count,incorrect non-template count
count,2460.000000,2460.000000,2460.000000,2460.000000
mean,0.010976,0.603252,0.614228,3.403252
std,0.104209,0.679322,0.688280,1.482441
min,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,2.000000
50%,0.000000,1.000000,1.000000,3.000000
75%,0.000000,1.000000,1.000000,4.000000
max,1.000000,4.000000,4.000000,12.000000

In [193]:
res[~res["has_chart"]][["incorrect easy count", "incorrect hard count", "incorrect template count", "incorrect non-template count"]].describe()

,incorrect easy count,incorrect hard count,incorrect template count,incorrect non-template count
count,2460.000000,2460.000000,2460.000000,2460.000000
mean,0.010976,0.603252,0.614228,3.403252
std,0.104209,0.679322,0.688280,1.482441
min,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,2.000000
50%,0.000000,1.000000,1.000000,3.000000
75%,0.000000,1.000000,1.000000,4.000000
max,1.000000,4.000000,4.000000,12.000000

In [207]:
len(res[res["has_chart"] & ~res["correct_chart"]])/ len(res[res["has_chart"]])

0.19349593495934958

In [213]:
len(res[res["has_chart"] & ~res["correct_chart"]])

476

In [214]:
len(res[res["has_chart"]])

2460

In [209]:
len(res[~res["has_chart"] & ~res["correct_chart"]])/ len(res[~res["has_chart"]])

0.19349593495934958

In [210]:
len(res[~res["has_chart"] & ~res["correct_chart"]])

476

In [212]:
len(res[~res["has_chart"]])

2460