In [1]:
%load_ext lab_black
%load_ext autoreload
%autoreload 2

In [2]:
# Set for local or colab

import os
from os.path import join
import sys

# Check if running in colab
IN_COLAB = "google.colab" in sys.modules

# Project defaults
if IN_COLAB:
    print("ENVIRONMENT: Colab")

    # Mount drive
    from google.colab import drive

    drive.mount("/content/drive")

    # Set the project directory
    PROJECT_FOLDER = "/content/drive/MyDrive/MIDS/w266/w266-project-carlos"

    # Install dependencies
    !pip install -q transformers datasets SentencePiece

    # Set timezone
    !rm /etc/localtime
    !ln -s /usr/share/zoneinfo/US/Pacific /etc/localtime

else:
    print("ENVIRONMENT: Local")
    # Set the project directory
    PROJECT_FOLDER = "/user/w266/w266-project-carlos"

os.chdir(PROJECT_FOLDER)

# FOLDERS
DATASET_FOLDER = join(PROJECT_FOLDER, "dataset/dataset_final")
EXPERIMENT_BASE_FOLDER = join(PROJECT_FOLDER, "experiments")
EXPERIMENT_RESULTS_FOLDER = join(PROJECT_FOLDER, "experiment_results")

print(f"Working directory is: {os.getcwd()}")

ENVIRONMENT: Local
Working directory is: /user/w266/w266-project-carlos

In [3]:
import numpy as np
import pandas as pd
from pprint import pprint

from t5_model_support_functions import (
    sperarate_substring_by_spaces,
    get_pd_row_accuracy,
)

In [4]:
def print_accuracy_report(df):
    print("*" * 100)
    print("Overall results")
    print(df[["percent_equal", "equal"]].mean())

    print("")
    print("*" * 100)
    print("Succes by hardness")
    df_fail = df.loc[df["equal"] < 1].groupby("hardness").count()[["prediction"]]
    df_succ = df.loc[df["equal"] == 1].groupby("hardness").count()[["prediction"]]

    df_fail.columns = ["fail"]
    df_succ.columns = ["succes"]

    df_rep = pd.concat([df_succ, df_fail], axis=1)
    df_rep["succes_rate"] = df_rep["succes"] / (df_rep["succes"] + df_rep["fail"])
    print(df_rep)


def print_failed_examples(df):
    df_fail = df.loc[df["equal"] < 1]

    idx_range = np.arange(20)

    for i in idx_range:
        row = df_fail.iloc[i]
        print(f"Showing row: {row.name}")
        print("source // labels // prediction")
        pprint(f"S->  {row['source']}", width=200)
        print("")
        pprint(f"L->  {row['labels']}", width=200)
        print("")
        pprint(f"P->  {row['prediction']}", width=200)

        print("*" * 100)

### Select experiment folder

In [5]:
path = join(
    EXPERIMENT_RESULTS_FOLDER, "exp_03_codet5-large_results_2023_04_02-00_55.csv"
)

# path = join(
#     EXPERIMENT_RESULTS_FOLDER, "exp_03B_codet5-large_results_2023_04_08-20_28.csv"
# )


df = pd.read_csv(path)

df.head(2)

,tvBench_id,hardness,source,labels,prediction,percent_equal,equal
0,3092@y_name@DESC,Medium,<N> Give me the comparison about Team_ID over ...,mark bar data basketball_match encoding x all_...,mark bar data basketball_match encoding x all_...,1.0,1.0
1,3092@y_name@DESC,Medium,<N> Give me the comparison about Team_ID over ...,mark bar data basketball_match encoding x all_...,mark bar data basketball_match encoding x all_...,1.0,1.0

### Print Reports

In [6]:
print_accuracy_report(df)

****************************************************************************************************
Overall results
percent_equal    0.957882
equal            0.831624
dtype: float64

****************************************************************************************************
Succes by hardness
            succes  fail  succes_rate
hardness
Easy          1451   147     0.908010
Extra Hard     264   172     0.605505
Hard           503   237     0.679730
Medium        1837   265     0.873930

In [7]:
print_failed_examples(df)

Showing row: 12
source // labels // prediction
("S->  <N> Visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ? </N> <C> mark [T] "
 'data customer encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> customer <COL> cust_name </COL> <VAL> Mary </VAL> </D>')

"L->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc"

"P->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a' sort y desc"
****************************************************************************************************
Showing row: 13
source // labels // prediction
("S->  <N> Visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ? </N> <C> mark bar "
 'data customer encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> customer <COL> cust_name </COL> <VAL> Mary </VAL> </D>')

"L->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc"

"P->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a' sort y desc"
****************************************************************************************************
Showing row: 40
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , give me the comparison about the amount of '
 'hire_date over the hire_date bin hire_date by weekday by a bar chart , rank by the y axis in ascending please . </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] color '
 '[Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> hire_date salary last_name first_name </COL> <VAL> Bull Lisa Seo Bell Chen Lee Gee Banda King Baer Fay </VAL> '
 '</D>')

('L->  mark bar data employees encoding x hire_date y aggregate count hire_date transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40 sort y asc bin x by '
 'weekday')

('P->  mark bar data employees encoding x hire_date y aggregate count hire_date transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40 sort y asc bin x by '
 'weekday')
****************************************************************************************************
Showing row: 41
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , give me the comparison about the amount of '
 'hire_date over the hire_date bin hire_date by weekday by a bar chart , rank by the y axis in ascending please . </N> <C> mark bar data employees encoding x [X] y aggregate [AggFunction] [Y] color '
 '[Z] transform filter [F] group [G] bin [B] sort [Y] asc topk [K] </C> <D> employees <COL> hire_date salary last_name first_name </COL> <VAL> Bull Lisa Seo Bell Chen Lee Gee Banda King Baer Fay '
 '</VAL> </D>')

('L->  mark bar data employees encoding x hire_date y aggregate count hire_date transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40 sort y asc bin x by '
 'weekday')

('P->  mark bar data employees encoding x hire_date y aggregate count hire_date transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40 sort y asc bin x by '
 'weekday')
****************************************************************************************************
Showing row: 44
source // labels // prediction
('S->  <N> Give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the Y-axis from high to low ? </N> <C> '
 'mark [T] data instructor encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> instructor <COL> salary name id </COL> <VAL> Hau '
 'Luo Kean Dale </VAL> </D>')

'L->  mark bar data instructor encoding x dept_name y aggregate mean salary transform group x sort y desc'

'P->  mark bar data instructor encoding x name y aggregate mean salary transform filter mean_salary > 42000 group x sort y desc'
****************************************************************************************************
Showing row: 45
source // labels // prediction
('S->  <N> Give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the Y-axis from high to low ? </N> <C> '
 'mark bar data instructor encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> instructor <COL> salary name id </COL> <VAL> '
 'Hau Luo Kean Dale </VAL> </D>')

'L->  mark bar data instructor encoding x dept_name y aggregate mean salary transform group x sort y desc'

'P->  mark bar data instructor encoding x name y aggregate mean salary transform filter mean_salary > 42000 group x sort y desc'
****************************************************************************************************
Showing row: 50
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , visualize the relationship between salary and '
 'department_id . </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> salary '
 'department_id last_name first_name </COL> <VAL> Bull Lisa Ande King Banda Gee Lee Chen Bell Seo Jones </VAL> </D>')

'L->  mark point data employees encoding x salary y aggregate none department_id transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40'

'P->  mark point data employees encoding x salary y aggregate none department_id transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40'
****************************************************************************************************
Showing row: 51
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , visualize the relationship between salary and '
 'department_id . </N> <C> mark point data [D] encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> salary '
 'department_id last_name first_name </COL> <VAL> Bull Lisa Ande King Banda Gee Lee Chen Bell Seo Jones </VAL> </D>')

'L->  mark point data employees encoding x salary y aggregate none department_id transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40'

'P->  mark point data employees encoding x salary y aggregate none department_id transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40'
****************************************************************************************************
Showing row: 52
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , find hire_date and the average of department_id '
 'bin hire_date by time , and visualize them by a bar chart , could you rank from high to low by the total number ? </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] '
 'color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> hire_date salary department_id last_name first_name </COL> <VAL> Bull Lisa Chen Lee Gee Bell Banda King '
 'Ande Seo Baer </VAL> </D>')

('L->  mark bar data employees encoding x hire_date y aggregate mean department_id transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40 sort y desc bin '
 'x by month')

('P->  mark bar data employees encoding x hire_date y aggregate mean department_id transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40 sort y desc bin x '
 'by month')
****************************************************************************************************
Showing row: 53
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , find hire_date and the average of department_id '
 'bin hire_date by time , and visualize them by a bar chart , could you rank from high to low by the total number ? </N> <C> mark bar data employees encoding x [X] y aggregate [AggFunction] [Y] '
 'color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> employees <COL> hire_date salary department_id last_name first_name </COL> <VAL> Bull Lisa Chen Lee Gee Bell Banda '
 'King Ande Seo Baer </VAL> </D>')

('L->  mark bar data employees encoding x hire_date y aggregate mean department_id transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40 sort y desc bin '
 'x by month')

('P->  mark bar data employees encoding x hire_date y aggregate mean department_id transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40 sort y desc bin x '
 'by month')
****************************************************************************************************
Showing row: 68
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , draw a bar chart about the distribution of job_id '
 'and the average of salary , and group by attribute job_id , sort by the JOB_ID from low to high . </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform '
 'filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> job_id salary last_name first_name </COL> <VAL> Bull Lisa Chen Lee Gee Banda King Ande Bell Vance Luis </VAL> </D>')

'L->  mark bar data employees encoding x job_id y aggregate mean salary transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40 group x sort x asc'

'P->  mark bar data employees encoding x job_id y aggregate mean salary transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40 group x sort x asc'
****************************************************************************************************
Showing row: 69
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , draw a bar chart about the distribution of job_id '
 'and the average of salary , and group by attribute job_id , sort by the JOB_ID from low to high . </N> <C> mark bar data employees encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform '
 'filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> employees <COL> job_id salary last_name first_name </COL> <VAL> Bull Lisa Chen Lee Gee Banda King Ande Bell Vance Luis </VAL> </D>')

'L->  mark bar data employees encoding x job_id y aggregate mean salary transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40 group x sort x asc'

'P->  mark bar data employees encoding x job_id y aggregate mean salary transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40 group x sort x asc'
****************************************************************************************************
Showing row: 70
source // labels // prediction
('S->  <N> Draw a scatter chart for how many accounts are there for each customer id ? </N> <C> mark [T] data accounts encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] '
 'group [G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> customer_id </COL> <VAL> </VAL> </D>')

'L->  mark point data accounts encoding x customer_id y aggregate count customer_id transform group x'

'P->  mark point data accounts encoding x count(*) y aggregate none customer_id transform group customer_id'
****************************************************************************************************
Showing row: 71
source // labels // prediction
('S->  <N> Draw a scatter chart for how many accounts are there for each customer id ? </N> <C> mark point data [D] encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group '
 '[G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> customer_id </COL> <VAL> </VAL> </D>')

'L->  mark point data accounts encoding x customer_id y aggregate count customer_id transform group x'

'P->  mark point data accounts encoding x count(*) y aggregate none customer_id transform group customer_id'
****************************************************************************************************
Showing row: 74
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , show me about the change of manager_id over '
 'hire_date in a line chart . </N> <C> mark [T] data employees encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees '
 '<COL> hire_date salary manager_id last_name first_name </COL> <VAL> Bull Lisa King Banda Gee Lee Chen Bell Seo Baer Jones </VAL> </D>')

'L->  mark line data employees encoding x hire_date y aggregate none manager_id transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40'

'P->  mark line data employees encoding x hire_date y aggregate none manager_id transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40'
****************************************************************************************************
Showing row: 75
source // labels // prediction
('S->  <N> For those employees whose salary is in the range of 8000 and 12000 and commission is not null or department number does not equal to 40 , show me about the change of manager_id over '
 'hire_date in a line chart . </N> <C> mark line data [D] encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> employees <COL> '
 'hire_date salary manager_id last_name first_name </COL> <VAL> Bull Lisa King Banda Gee Lee Chen Bell Seo Baer Jones </VAL> </D>')

'L->  mark line data employees encoding x hire_date y aggregate none manager_id transform filter salary between 8000 and 12000 and commission_pct != "null" or department_id != 40'

'P->  mark line data employees encoding x hire_date y aggregate none manager_id transform filter salary between 8000 and 12000 and commission_pct!= "null" or department_id!= 40'
****************************************************************************************************
Showing row: 78
source // labels // prediction
('S->  <N> How many faculty members do we have for each rank and gender ? Plot them as bar chart , and list from low to high by the names . </N> <C> mark [T] data faculty encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> faculty <COL> rank lname fname room </COL> <VAL> James Frank Beach Han Mark Rao Pang Rugh Yair </VAL> '
 '</D>')

'L->  mark bar data faculty encoding x rank y aggregate count rank color sex transform group x sort x asc'

'P->  mark bar data faculty encoding x rank y aggregate count rank transform filter sex = "f" group x sort x asc'
****************************************************************************************************
Showing row: 79
source // labels // prediction
('S->  <N> How many faculty members do we have for each rank and gender ? Plot them as bar chart , and list from low to high by the names . </N> <C> mark bar data faculty encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> faculty <COL> rank lname fname room </COL> <VAL> James Frank Beach Han Mark Rao Pang Rugh Yair '
 '</VAL> </D>')

'L->  mark bar data faculty encoding x rank y aggregate count rank color sex transform group x sort x asc'

'P->  mark bar data faculty encoding x rank y aggregate count rank transform filter sex = "f" group x sort x asc'
****************************************************************************************************
Showing row: 84
source // labels // prediction
('S->  <N> Show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the Draft_Class from high to low . </N> <C> mark [T] data match_season '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> match_season <COL> draft_class player position </COL> <VAL> Defender </VAL> '
 '</D>')

'L->  mark bar data match_season encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc'

'P->  mark bar data match_season encoding x draft_pick_number y aggregate none draft_class transform filter position = "defender" sort x desc'
****************************************************************************************************
Showing row: 85
source // labels // prediction
('S->  <N> Show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the Draft_Class from high to low . </N> <C> mark bar data match_season '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] desc topk [K] </C> <D> match_season <COL> draft_class player position </COL> <VAL> Defender '
 '</VAL> </D>')

'L->  mark bar data match_season encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc'

'P->  mark bar data match_season encoding x draft_pick_number y aggregate none draft_class transform filter position = "defender" sort x desc'
****************************************************************************************************

#### Process `!=` errors

In [8]:
df["prediction"] = df["prediction"].apply(
    sperarate_substring_by_spaces, args=("!=", True)
)

In [9]:
df["percent_equal"] = df.apply(get_pd_row_accuracy, axis=1)
df["equal"] = df["percent_equal"].apply(lambda var: 1.0 if var == 1.0 else 0.0)

print_accuracy_report(df)

****************************************************************************************************
Overall results
percent_equal    0.978454
equal            0.884537
dtype: float64

****************************************************************************************************
Succes by hardness
            succes  fail  succes_rate
hardness
Easy          1451   147     0.908010
Extra Hard     384    52     0.880734
Hard           609   131     0.822973
Medium        1869   233     0.889153

In [10]:
print_failed_examples(df)

Showing row: 12
source // labels // prediction
("S->  <N> Visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ? </N> <C> mark [T] "
 'data customer encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> customer <COL> cust_name </COL> <VAL> Mary </VAL> </D>')

"L->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc"

"P->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a' sort y desc"
****************************************************************************************************
Showing row: 13
source // labels // prediction
("S->  <N> Visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ? </N> <C> mark bar "
 'data customer encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> customer <COL> cust_name </COL> <VAL> Mary </VAL> </D>')

"L->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc"

"P->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a' sort y desc"
****************************************************************************************************
Showing row: 44
source // labels // prediction
('S->  <N> Give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the Y-axis from high to low ? </N> <C> '
 'mark [T] data instructor encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> instructor <COL> salary name id </COL> <VAL> Hau '
 'Luo Kean Dale </VAL> </D>')

'L->  mark bar data instructor encoding x dept_name y aggregate mean salary transform group x sort y desc'

'P->  mark bar data instructor encoding x name y aggregate mean salary transform filter mean_salary > 42000 group x sort y desc'
****************************************************************************************************
Showing row: 45
source // labels // prediction
('S->  <N> Give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the Y-axis from high to low ? </N> <C> '
 'mark bar data instructor encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> instructor <COL> salary name id </COL> <VAL> '
 'Hau Luo Kean Dale </VAL> </D>')

'L->  mark bar data instructor encoding x dept_name y aggregate mean salary transform group x sort y desc'

'P->  mark bar data instructor encoding x name y aggregate mean salary transform filter mean_salary > 42000 group x sort y desc'
****************************************************************************************************
Showing row: 70
source // labels // prediction
('S->  <N> Draw a scatter chart for how many accounts are there for each customer id ? </N> <C> mark [T] data accounts encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] '
 'group [G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> customer_id </COL> <VAL> </VAL> </D>')

'L->  mark point data accounts encoding x customer_id y aggregate count customer_id transform group x'

'P->  mark point data accounts encoding x count(*) y aggregate none customer_id transform group customer_id'
****************************************************************************************************
Showing row: 71
source // labels // prediction
('S->  <N> Draw a scatter chart for how many accounts are there for each customer id ? </N> <C> mark point data [D] encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group '
 '[G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> customer_id </COL> <VAL> </VAL> </D>')

'L->  mark point data accounts encoding x customer_id y aggregate count customer_id transform group x'

'P->  mark point data accounts encoding x count(*) y aggregate none customer_id transform group customer_id'
****************************************************************************************************
Showing row: 78
source // labels // prediction
('S->  <N> How many faculty members do we have for each rank and gender ? Plot them as bar chart , and list from low to high by the names . </N> <C> mark [T] data faculty encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> faculty <COL> rank lname fname room </COL> <VAL> James Frank Beach Han Mark Rao Pang Rugh Yair </VAL> '
 '</D>')

'L->  mark bar data faculty encoding x rank y aggregate count rank color sex transform group x sort x asc'

'P->  mark bar data faculty encoding x rank y aggregate count rank transform filter sex = "f" group x sort x asc'
****************************************************************************************************
Showing row: 79
source // labels // prediction
('S->  <N> How many faculty members do we have for each rank and gender ? Plot them as bar chart , and list from low to high by the names . </N> <C> mark bar data faculty encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> faculty <COL> rank lname fname room </COL> <VAL> James Frank Beach Han Mark Rao Pang Rugh Yair '
 '</VAL> </D>')

'L->  mark bar data faculty encoding x rank y aggregate count rank color sex transform group x sort x asc'

'P->  mark bar data faculty encoding x rank y aggregate count rank transform filter sex = "f" group x sort x asc'
****************************************************************************************************
Showing row: 84
source // labels // prediction
('S->  <N> Show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the Draft_Class from high to low . </N> <C> mark [T] data match_season '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> match_season <COL> draft_class player position </COL> <VAL> Defender </VAL> '
 '</D>')

'L->  mark bar data match_season encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc'

'P->  mark bar data match_season encoding x draft_pick_number y aggregate none draft_class transform filter position = "defender" sort x desc'
****************************************************************************************************
Showing row: 85
source // labels // prediction
('S->  <N> Show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the Draft_Class from high to low . </N> <C> mark bar data match_season '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] desc topk [K] </C> <D> match_season <COL> draft_class player position </COL> <VAL> Defender '
 '</VAL> </D>')

'L->  mark bar data match_season encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc'

'P->  mark bar data match_season encoding x draft_pick_number y aggregate none draft_class transform filter position = "defender" sort x desc'
****************************************************************************************************
Showing row: 90
source // labels // prediction
('S->  <N> Bar chart x axis date moved in y axis how many date moved in , list in ascending by the y axis please . </N> <C> mark [T] data customer_events encoding x [X] y aggregate [AggFunction] [Y] '
 'color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> customer_events <COL> date_moved_in </COL> <VAL> </VAL> </D>')

'L->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by year'

'P->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by weekday'
****************************************************************************************************
Showing row: 91
source // labels // prediction
('S->  <N> Bar chart x axis date moved in y axis how many date moved in , list in ascending by the y axis please . </N> <C> mark bar data customer_events encoding x [X] y aggregate [AggFunction] [Y] '
 'color [Z] transform filter [F] group [G] bin [B] sort [Y] asc topk [K] </C> <D> customer_events <COL> date_moved_in </COL> <VAL> </VAL> </D>')

'L->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by year'

'P->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by weekday'
****************************************************************************************************
Showing row: 104
source // labels // prediction
('S->  <N> What are the number of dates of birth of all the guests whose gender is "Male" ? </N> <C> mark [T] data guests encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] '
 'group [G] bin [B] sort [S] topk [K] </C> <D> guests <COL> gender_code guest_first_name </COL> <VAL> Male Gabe </VAL> </D>')

'L->  mark bar data guests encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday'

'P->  mark line data guests encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year'
****************************************************************************************************
Showing row: 116
source // labels // prediction
('S->  <N> What is the market value of every comapny in the banking industry ordered by sales and profits ? Return a bar chart . </N> <C> mark [T] data company encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> company <COL> market_value rank company main_industry </COL> <VAL> Banking </VAL> </D>')

"L->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion profits_billion"

"P->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales and profits"
****************************************************************************************************
Showing row: 117
source // labels // prediction
('S->  <N> What is the market value of every comapny in the banking industry ordered by sales and profits ? Return a bar chart . </N> <C> mark bar data company encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [O] profits_billion topk [K] </C> <D> company <COL> market_value rank company main_industry </COL> <VAL> Banking </VAL> </D>')

"L->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion profits_billion"

"P->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion"
****************************************************************************************************
Showing row: 144
source // labels // prediction
('S->  <N> How many companies that are not headquartered in the United States for each main industry ? Show me a bar chart , and list names from high to low order . </N> <C> mark [T] data company '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> company <COL> main_industry rank headquarters </COL> <VAL> </VAL> </D>')

"L->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' group x sort x desc"

"P->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter rank != 'headquarters' group x sort x desc"
****************************************************************************************************
Showing row: 145
source // labels // prediction
('S->  <N> How many companies that are not headquartered in the United States for each main industry ? Show me a bar chart , and list names from high to low order . </N> <C> mark bar data company '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] desc topk [K] </C> <D> company <COL> main_industry rank headquarters </COL> <VAL> </VAL> </D>')

"L->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' group x sort x desc"

"P->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter rank != 'headquarters' group x sort x desc"
****************************************************************************************************
Showing row: 158
source // labels // prediction
('S->  <N> What are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart , and could you rank by the X from low to high ? </N> <C> mark '
 '[T] data transactions encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> transactions <COL> share_count </COL> <VAL> 930 8040 '
 '</VAL> </D>')

'L->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year'

'P->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction > 100 sort x asc bin x by year'
****************************************************************************************************
Showing row: 159
source // labels // prediction
('S->  <N> What are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart , and could you rank by the X from low to high ? </N> <C> mark '
 'line data transactions encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> transactions <COL> share_count </COL> <VAL> 930 '
 '8040 </VAL> </D>')

'L->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year'

'P->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction > 100 sort x asc bin x by year'
****************************************************************************************************
Showing row: 188
source // labels // prediction
('S->  <N> What are ids and total number of hours played for each game . </N> <C> mark [T] data plays_games encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin '
 '[B] sort [S] topk [K] </C> <D> plays_games <COL> hours_played gameid </COL> <VAL> </VAL> </D>')

'L->  mark point data plays_games encoding x gameid y aggregate sum hours_played transform group x'

'P->  mark arc data plays_games encoding x gameid y aggregate sum hours_played transform group x'
****************************************************************************************************

#### Process unmatched `%` errors

In [11]:
import re


def fix_unmatched_percent(text):
    pattern = r"'(%\w+)(')"
    repl_pattern = r"\1%\2"

    matches = re.findall(pattern, text)
    replacement = re.sub(pattern=pattern, repl=repl_pattern, string=text)

    return replacement


df["prediction"] = df["prediction"].apply(fix_unmatched_percent)

In [12]:
df["percent_equal"] = df.apply(get_pd_row_accuracy, axis=1)
df["equal"] = df["percent_equal"].apply(lambda var: 1.0 if var == 1.0 else 0.0)

print_accuracy_report(df)

****************************************************************************************************
Overall results
percent_equal    0.978408
equal            0.883716
dtype: float64

****************************************************************************************************
Succes by hardness
            succes  fail  succes_rate
hardness
Easy          1451   147     0.908010
Extra Hard     384    52     0.880734
Hard           605   135     0.817568
Medium        1869   233     0.889153

In [13]:
print_failed_examples(df)

Showing row: 12
source // labels // prediction
("S->  <N> Visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ? </N> <C> mark [T] "
 'data customer encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> customer <COL> cust_name </COL> <VAL> Mary </VAL> </D>')

"L->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc"

"P->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like %a%' sort y desc"
****************************************************************************************************
Showing row: 13
source // labels // prediction
("S->  <N> Visualize a bar chart for what are the names and account balances of customers with the letter 'a' in their names ? , could you sort from high to low by the y axis ? </N> <C> mark bar "
 'data customer encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> customer <COL> cust_name </COL> <VAL> Mary </VAL> </D>')

"L->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like '%a%' sort y desc"

"P->  mark bar data customer encoding x cust_name y aggregate none acc_bal transform filter cust_name like %a%' sort y desc"
****************************************************************************************************
Showing row: 44
source // labels // prediction
('S->  <N> Give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the Y-axis from high to low ? </N> <C> '
 'mark [T] data instructor encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> instructor <COL> salary name id </COL> <VAL> Hau '
 'Luo Kean Dale </VAL> </D>')

'L->  mark bar data instructor encoding x dept_name y aggregate mean salary transform group x sort y desc'

'P->  mark bar data instructor encoding x name y aggregate mean salary transform filter mean_salary > 42000 group x sort y desc'
****************************************************************************************************
Showing row: 45
source // labels // prediction
('S->  <N> Give me a histogram for what are the names and average salaries for departments with average salary higher than 42000 ? , and could you order by the Y-axis from high to low ? </N> <C> '
 'mark bar data instructor encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [Y] desc topk [K] </C> <D> instructor <COL> salary name id </COL> <VAL> '
 'Hau Luo Kean Dale </VAL> </D>')

'L->  mark bar data instructor encoding x dept_name y aggregate mean salary transform group x sort y desc'

'P->  mark bar data instructor encoding x name y aggregate mean salary transform filter mean_salary > 42000 group x sort y desc'
****************************************************************************************************
Showing row: 70
source // labels // prediction
('S->  <N> Draw a scatter chart for how many accounts are there for each customer id ? </N> <C> mark [T] data accounts encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] '
 'group [G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> customer_id </COL> <VAL> </VAL> </D>')

'L->  mark point data accounts encoding x customer_id y aggregate count customer_id transform group x'

'P->  mark point data accounts encoding x count(*) y aggregate none customer_id transform group customer_id'
****************************************************************************************************
Showing row: 71
source // labels // prediction
('S->  <N> Draw a scatter chart for how many accounts are there for each customer id ? </N> <C> mark point data [D] encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group '
 '[G] bin [B] sort [S] topk [K] </C> <D> accounts <COL> customer_id </COL> <VAL> </VAL> </D>')

'L->  mark point data accounts encoding x customer_id y aggregate count customer_id transform group x'

'P->  mark point data accounts encoding x count(*) y aggregate none customer_id transform group customer_id'
****************************************************************************************************
Showing row: 78
source // labels // prediction
('S->  <N> How many faculty members do we have for each rank and gender ? Plot them as bar chart , and list from low to high by the names . </N> <C> mark [T] data faculty encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> faculty <COL> rank lname fname room </COL> <VAL> James Frank Beach Han Mark Rao Pang Rugh Yair </VAL> '
 '</D>')

'L->  mark bar data faculty encoding x rank y aggregate count rank color sex transform group x sort x asc'

'P->  mark bar data faculty encoding x rank y aggregate count rank transform filter sex = "f" group x sort x asc'
****************************************************************************************************
Showing row: 79
source // labels // prediction
('S->  <N> How many faculty members do we have for each rank and gender ? Plot them as bar chart , and list from low to high by the names . </N> <C> mark bar data faculty encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> faculty <COL> rank lname fname room </COL> <VAL> James Frank Beach Han Mark Rao Pang Rugh Yair '
 '</VAL> </D>')

'L->  mark bar data faculty encoding x rank y aggregate count rank color sex transform group x sort x asc'

'P->  mark bar data faculty encoding x rank y aggregate count rank transform filter sex = "f" group x sort x asc'
****************************************************************************************************
Showing row: 84
source // labels // prediction
('S->  <N> Show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the Draft_Class from high to low . </N> <C> mark [T] data match_season '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> match_season <COL> draft_class player position </COL> <VAL> Defender </VAL> '
 '</D>')

'L->  mark bar data match_season encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc'

'P->  mark bar data match_season encoding x draft_pick_number y aggregate none draft_class transform filter position = "defender" sort x desc'
****************************************************************************************************
Showing row: 85
source // labels // prediction
('S->  <N> Show the draft pick numbers and draft classes of players whose positions are defenders in a bar chart , and list by the Draft_Class from high to low . </N> <C> mark bar data match_season '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] desc topk [K] </C> <D> match_season <COL> draft_class player position </COL> <VAL> Defender '
 '</VAL> </D>')

'L->  mark bar data match_season encoding x draft_class y aggregate none draft_pick_number transform filter position = "defender" sort x desc'

'P->  mark bar data match_season encoding x draft_pick_number y aggregate none draft_class transform filter position = "defender" sort x desc'
****************************************************************************************************
Showing row: 90
source // labels // prediction
('S->  <N> Bar chart x axis date moved in y axis how many date moved in , list in ascending by the y axis please . </N> <C> mark [T] data customer_events encoding x [X] y aggregate [AggFunction] [Y] '
 'color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> customer_events <COL> date_moved_in </COL> <VAL> </VAL> </D>')

'L->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by year'

'P->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by weekday'
****************************************************************************************************
Showing row: 91
source // labels // prediction
('S->  <N> Bar chart x axis date moved in y axis how many date moved in , list in ascending by the y axis please . </N> <C> mark bar data customer_events encoding x [X] y aggregate [AggFunction] [Y] '
 'color [Z] transform filter [F] group [G] bin [B] sort [Y] asc topk [K] </C> <D> customer_events <COL> date_moved_in </COL> <VAL> </VAL> </D>')

'L->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by year'

'P->  mark bar data customer_events encoding x date_moved_in y aggregate count date_moved_in transform sort y asc bin x by weekday'
****************************************************************************************************
Showing row: 104
source // labels // prediction
('S->  <N> What are the number of dates of birth of all the guests whose gender is "Male" ? </N> <C> mark [T] data guests encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] '
 'group [G] bin [B] sort [S] topk [K] </C> <D> guests <COL> gender_code guest_first_name </COL> <VAL> Male Gabe </VAL> </D>')

'L->  mark bar data guests encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by weekday'

'P->  mark line data guests encoding x date_of_birth y aggregate count date_of_birth transform filter gender_code = "male" bin x by year'
****************************************************************************************************
Showing row: 116
source // labels // prediction
('S->  <N> What is the market value of every comapny in the banking industry ordered by sales and profits ? Return a bar chart . </N> <C> mark [T] data company encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> company <COL> market_value rank company main_industry </COL> <VAL> Banking </VAL> </D>')

"L->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion profits_billion"

"P->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales and profits"
****************************************************************************************************
Showing row: 117
source // labels // prediction
('S->  <N> What is the market value of every comapny in the banking industry ordered by sales and profits ? Return a bar chart . </N> <C> mark bar data company encoding x [X] y aggregate '
 '[AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [O] profits_billion topk [K] </C> <D> company <COL> market_value rank company main_industry </COL> <VAL> Banking </VAL> </D>')

"L->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion profits_billion"

"P->  mark bar data company encoding x company y aggregate none market_value transform filter main_industry = 'banking' sort sales_billion"
****************************************************************************************************
Showing row: 144
source // labels // prediction
('S->  <N> How many companies that are not headquartered in the United States for each main industry ? Show me a bar chart , and list names from high to low order . </N> <C> mark [T] data company '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> company <COL> main_industry rank headquarters </COL> <VAL> </VAL> </D>')

"L->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' group x sort x desc"

"P->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter rank != 'headquarters' group x sort x desc"
****************************************************************************************************
Showing row: 145
source // labels // prediction
('S->  <N> How many companies that are not headquartered in the United States for each main industry ? Show me a bar chart , and list names from high to low order . </N> <C> mark bar data company '
 'encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] desc topk [K] </C> <D> company <COL> main_industry rank headquarters </COL> <VAL> </VAL> </D>')

"L->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter headquarters != 'usa' group x sort x desc"

"P->  mark bar data company encoding x main_industry y aggregate count main_industry transform filter rank != 'headquarters' group x sort x desc"
****************************************************************************************************
Showing row: 158
source // labels // prediction
('S->  <N> What are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart , and could you rank by the X from low to high ? </N> <C> mark '
 '[T] data transactions encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [S] topk [K] </C> <D> transactions <COL> share_count </COL> <VAL> 930 8040 '
 '</VAL> </D>')

'L->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year'

'P->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction > 100 sort x asc bin x by year'
****************************************************************************************************
Showing row: 159
source // labels // prediction
('S->  <N> What are the dates of transactions with at least 100 share count or amount bigger than 100 , and count them by a line chart , and could you rank by the X from low to high ? </N> <C> mark '
 'line data transactions encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin [B] sort [X] asc topk [K] </C> <D> transactions <COL> share_count </COL> <VAL> 930 '
 '8040 </VAL> </D>')

'L->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction >= 100 sort x asc bin x by year'

'P->  mark line data transactions encoding x date_of_transaction y aggregate count date_of_transaction transform filter share_count >= 100 or amount_of_transaction > 100 sort x asc bin x by year'
****************************************************************************************************
Showing row: 188
source // labels // prediction
('S->  <N> What are ids and total number of hours played for each game . </N> <C> mark [T] data plays_games encoding x [X] y aggregate [AggFunction] [Y] color [Z] transform filter [F] group [G] bin '
 '[B] sort [S] topk [K] </C> <D> plays_games <COL> hours_played gameid </COL> <VAL> </VAL> </D>')

'L->  mark point data plays_games encoding x gameid y aggregate sum hours_played transform group x'

'P->  mark arc data plays_games encoding x gameid y aggregate sum hours_played transform group x'
****************************************************************************************************